body{
    font-family: 'Ubuntu', sans-serif;
}
section{
    display: flex;
    margin-top: 60px;
}
.half-width{
    width: 50%;
   margin-left: 80px;
   margin-right: 20px;
}
.half-width img{
    width: 95%;
}
.color-text{
    color: orangered;
}
#visit-us-color{
    color: rgb(216, 130, 2);
    font-size: 30px;
}

.h1{
    font-size: 60px;
}

.link-add{
    background-image:linear-gradient(orange,tomato);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 600px;
    font-size: 25px;
}

